<!DOCTYPE html>
<html lang="en">
<head><title>My Site</title></head>
<body>
    <div class="center" style="
    margin: auto;
    width: 50%;
    padding-top: 25%;">
        <div id="cssDisplay" style="background-color: #FFFFFF;
      color: #000000;
      border: 7px solid #6D6D6D;
      padding: 18px;
      font-family: helvetica;
      font-size: 20px;
      font-variant: small-caps;
      text-align: center;
      border-radius: 4px;">
        <h1>404 page not found</h1>
        </div>
    </div>
</body>
</html>